@charset "UTF-8";

body {
    background-image: linear-gradient(to right, white, black);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

main {
    text-align: center;
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
}
