
body {
    margin: 30px
}

main {
    max-width: 900px;
    text-align: center;
}

p {
    padding-bottom: 10px;
}

p::first-letter {
    font-size: 25px;
    font-weight: bold;
}
p::first-line {
    background-color: aqua;
}

.balao {
    background-color: blue;
    display: inline-block;
    color: azure;
    padding: 20px;
    border-radius: 20px;
}

.balao::after {
    content: '';
    display: block;
    position: absolute;
    margin-top: 20px;

    border: 20px solid;
    border-color: brown transparent transparent transparent;
}

div {
    background-color: blueviolet;
    width: 100px;
    height: 100px;
}

div:first-child {
    background-color: aqua;
}

div:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

main :not(p) {
    background-color: aquamarine;
}

div:nth-child(3) {
    background-color: brown;
}