@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", system-ui;
}

/* UTILITIES */
.container {
    max-width: 1140px;
    margin: auto;
}
.bar {
    background-color: #106E32;
    width: 168px;
    height: 10px;
    margin-bottom: 20px;
}
.button {
    display: inline-block;
    border: 2px solid #454545;
    padding: 10px 30px;
    border-radius: 4px;
    color: #454545;
    text-decoration: none;
}
.button:hover {
    color: white;
    background-color: #454545;
}
h2 {
    font-family: "Oswald", system-ui;
    font-weight: bold;
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 20px;
}

/* HEADER */
header .line {
    background-color: #106E32;
    height: 10px;
}
.header-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}
.header-right {
    display: flex;
    align-items: center;
}
.logo img {
    width: 64px;
}
.header-search form {
    display: flex;
}
.header-search input {
    font-size: 16px;
    padding: 8px 12px;
    border: 1px solid #b2b2b2;
    outline: 0;
    width: 100%;
    max-width: 250px;
}
.header-search button {
    border: 0;
    background: transparent;
    margin-left: -30px;
    cursor: pointer;
}
.header-search button img {
    width: 16px;
    height: 16px;
}
.menu {
    margin-left: 50px;
}
.menu img {
    width: 24px;
    cursor: pointer;
}

/* BANNER */
.banner {
    background-image: url(img/bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 90px 0;
}
.banner h1 {
    font-family: "Oswald", system-ui;
    font-weight: bold;
    font-size: 100px;
    line-height: 100px;
    margin-bottom: 25px;
}
.banner-imgs {
    margin-top: 60px;
}
.banner-imgs img {
    width: 148px;
    border: 2px solid rgba(187, 187, 187, 0.511);
    border-radius: 50%;
    margin-right: 10px;
}

/* SECTION.AREA */
.area1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.area1-content {
    padding: 80px;
}
.area1-img1 {
    height: 350px;
    background-image: url(img/f2.jpg);
    background-position: center;
    background-size: cover;
}
.area1-img2 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-image: url(img/f1.jpg);
    background-position: center;
    background-size: cover;
}
.area1-quote {
    margin-top: -15px;
    margin-bottom: 30px;
}
.area1-text {
    margin-bottom: 40px;
}

.area2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.area2-content {
    padding: 80px 0px 80px 70px;
}
.area2-img1 {
    height: 480px;
    background-image: url(img/f4.jpg);
    background-position: center;
    background-size: cover;
}
.area2-img2 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-image: url(img/f3.jpg);
    background-position: center;
    background-size: cover;
}

.area3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.area3-img1 {
    height: 680px;
    background-image: url(img/f5.jpg);
    background-position: center;
    background-size: cover;
}
.content3 {
    background-image: url(img/bg2.jpg);
    background-position: left;
    background-size: cover;
}

.area4 {
    display: grid;
    grid-template-columns: 600px 1fr;
    background-color: #E8E9EE;
}
.area4-content {
    padding: 210px 50px 210px 90px;
}
.area4-img {
    background-image: url(img/bg3.jpg);
    background-position: left;
}
