body {
    margin: 30px
}

main {
    flex-direction: ;
    max-width: 900px;
}

p {
    padding-bottom: 10px;
}

p::first-letter {
    font-size: 25px;
    font-weight: bold;
}

p::first-line {
    background-color: aqua;
}