* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

main {
    flex-direction: ;
    max-width: 900px;
    text-align: center;
}

p::first-letter {
    font-size: 25px;
    font-weight: bold;
}