@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --color-primary: #005CFF;
    --color-secondary: #5EC0BE;
    --color-dark: #2e2e2e;
    --color-gray: #C2C2C2;
    --color-gray2: #DEDEDE;
    --color-gray-text: #303030;
    --color-white: #fdfdfd;
    --color-black: #060606;

    --fonte-main: "Nunito", sans-serif;
    --fonte-secondary: "Nunito Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-white);
    font-family: var(--fonte-main);
}

/* UTILITIES */
.container {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HEADER ----------------------------*/
.coupon {
    background-color: var(--color-primary);
    height: 27px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2rem;
    color: var(--color-white);
    font-size: .75rem;
    font-weight: 700;
}
.coupon span {
    background-color: #6220C1;
    padding: .5px 2px;
    border-radius: 5px;
}

header {
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 50;
    background-color: var(--color-white);
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.364);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header-main {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 13px 30px 0;
    background-color: var(--color-white);
}

/* header-logo */
.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo > a {
    display: flex;
}
.header-logo > a >img {
    width: 135px;
    margin: 0 35px 0 10px;
}
.header-input {
    max-width: 594px;
    height: 30px;
    display: flex;
    align-items: center;
    position: relative;
}
.header-input input {
    width: 494px;
    height: 30px;
    border: 1px solid #dfe1e5;
    border-radius: 10px;
    outline: none;
    color: var(--color-black);
    transition: all 0.25s ease;
    cursor: text;
    z-index: 0;
    padding-left: 20px;
    margin-left: -260px;
}
.header-input input::placeholder {
    font-size: 0.7rem;
    color: var(--color-black);
}
.header-input input:hover {
    box-shadow: 0 0 0 1px var(--color-gray);
}
.header-input input:active {
    transform: scale(0.99);
}
.header-input input:focus {
    box-shadow: 0 0 0 1px var(--color-gray);
}
.header-input input::-webkit-search-cancel-button {
    display: none;
}
.header-input a img {
    width: 17px;
    height: 17px;
    position: absolute;
    right: .7rem;
    top: .4rem;
    fill: #bdbecb;
    z-index: 1;
    cursor: pointer;
}
/* Bloco de resultado flutuante */
.search-popup {
    position: absolute;
    top: 40px;
    left: -241px;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
    padding: 10px;
}
.search-popup .message {
    font-weight: bold;
    margin-bottom: 10px;
}
.search-popup .results {
    max-height: 150px;
    overflow-y: auto;
}
.search-popup .results a {
    display: block;
    padding: 5px 0;
    color: #333;
    text-decoration: none;
}
.search-popup .results a:hover {
    background-color: #eee;
}

.header-cart {
    display: flex;
    justify-content: flex-end;
}
.user-login {
    display: flex;
    align-items: center;
}
.user-login i {
    font-size: 1.2rem;
    margin-right: 5px;
    color: var(--color-primary);
    cursor: pointer;
}
.user-login p {
    font-size: .7rem;
    font-weight: 600;
    line-height: 11px;
    padding-top: 2px;
}
.cart-icon {
    display: flex;
    margin-left: 15px;
    align-items: center;
}
.cart-icon img {
    width: 23px;
    padding-top: 1px;
    cursor: pointer;
}
.header-main nav {
    margin: 16px 8px 0;
}

/* menu mobile */
.mobile-toggle {
    display: none;
    top: 20px;
    left: 20px;
    z-index: 1000;
    cursor: pointer;
    width: 80px;
}
.mobile-toggle i {
    font-size: 1.4rem;
}
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 90vw;
    max-width: 320px;
    height: 100vh;
    background: #fff;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
    z-index: 1100;
    padding: 20px;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}
.mobile-menu.active {
    transform: translateX(0);
}
.mobile-close {
    text-align: right;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;
}
.mobile-deps {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.mobile-dep {
    cursor: pointer;
    padding: 8px;
    background: #f2f2f2;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile-dep:hover {
    background: #ddd;
}
.mobile-dep .arrow {
    transition: transform 0.3s ease;
}
.mobile-dep.active .arrow {
    transform: rotate(90deg);
}
.mobile-submenu {
    display: none;
    flex-direction: column;
    margin-top: 5px;
    max-height: 200px;
    overflow-y: auto;
    padding-left: 10px;
    border-left: 2px solid #eee;
}
.mobile-submenu.active {
    display: flex;
}
.mobile-submenu a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    margin-bottom: 5px;
}
.mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none;
}
.mobile-overlay.active {
    display: block;
}
@media (min-width: 901px) {
    .mobile-toggle,
    .mobile-menu,
    .mobile-overlay {
        display: none !important;
    }
}
@media (max-width: 900px) {
    .mobile-toggle {
        display: block;
    }
}

/* header-nav */
nav > menu {
    display: flex;
}
nav menuitem {
    position: relative;
    cursor: pointer;
    display: block;
    padding-bottom: 15px; 
}
nav menuitem:hover .menu-content {
    display: flex;
}
menu menuitem a {
    font-size: .7rem;
    font-weight: 400;
    padding-top: 2px;
    display: block;
    position: relative;
    white-space: nowrap;
    text-decoration: none;
    color: var(--color-black);
}
nav a.menu-option1 {
    font-size: .8rem;
    font-weight: 700;
    display: flex;
    padding-top: 0;
    align-items: center;
    overflow: none;
    margin-right: 40px;
}
nav a i {
    margin-right: 6px;
}
nav a i:hover,
nav a.menu-option1:hover,
menu menuitem a:hover {
    color: var(--color-primary);
    fill: var(--color-primary);
}
.menuitem-dep-full {
    display: flex;
    justify-content: space-between;
    gap: 36px;
    flex-wrap: nowrap;
    overflow: hidden; 
}
.menuitem-dep {
    min-width: 80px;
}

/* menu1 block */
.menu-content {
    display: none;
    position: absolute;
    top: 100%;
    left: -8px;
    z-index: 10;
    box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.3);
    width: 93vw;
    max-width: 1080px;
}
.menu-container-dep {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
}
.departamentos {
    background-color: #F5F5F5;
    width: 212px;
    height: 300px;
    padding: 8px 3px 8px 12px;
    overflow: auto;
}
.departamentos div {
    padding: 3px 0 3px 5px;
    cursor: pointer;
    background-color: #F5F5F5;
    margin-bottom: 6px;
}
.departamentos div:hover,
.departamentos div.ativo {
    color: var(--color-primary);
}
.departamentos .name-dep {
    display: flex;
    justify-content: space-between;
    font-size: .8rem;
    font-weight: 700;
    color: #303030;
    align-items: center;
}
.name-dep i {
    font-size: .5rem;
}
.departamentos::-webkit-scrollbar {
    width: 20px;
}
.departamentos::-webkit-scrollbar-track {
    background: #F5F5F5;
}
.departamentos::-webkit-scrollbar-thumb {
    background-color: #CECECE;
    border-radius: 20px;
    border: 8px solid #F5F5F5;
    border-top: 15px solid #F5F5F5;
}

/* category block menu1*/
.categorias-box {
    position: relative;
    left: 0;
    top: 0;
    width: calc(100% - 212px);
    height: 300px;
    background-color: var(--color-white);
    padding: 8px 18px 8px 33px;
    display: none;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.categorias-row {
    display: flex;
    justify-content: flex-start;
    background-color: var(--color-white);
    gap: 50px;
    flex-wrap: wrap;
}
.categoria-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.categoria-col a {
    text-decoration: none;
    color: #656565;
    font-weight: 500;
    font-size: .8rem;
}
.categoria-col a:hover {
    color: var(--color-primary);
}
.cat-banner-lateral {
    display: none;
    width: 236px;
    height: 100%;
    border-radius: 10px;
    height: 100%;
    background-image: url(img/cup.png);
    background-size: cover;
    background-position: center;
    padding: 50px 80px 50px 26px;
    z-index: 10;
}
.cat-banner-content {
    width: 128px;
    height: 207px;
    font-size: 24px;
    font-weight: 400;
    line-height: 27px;
    color: var(--color-white);
    z-index: 11;
}
.cat-banner-content span {
    font-size: 700;
}
.cat-banner-content a {
    width: 116px;
    height: 38px;
    font-size: .75rem;
    font-weight: 700;
    text-decoration: none;
    border: solid 1px var(--color-white);
    border-radius: 8px;
    margin-top: 30px;
    text-align: center;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cat-banner-content a:hover {
    background-color: #dfe1e53e;
    color: var(--color-white);
}

/* category block menu2 */
.cat-box2 {
    position: relative;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
}
.menuitem-box {
    position: absolute;
    top: 0;
    left: -8px;
    width: 100.6%;
    height: 300px;
    gap: 20px;
    flex-wrap: wrap;
    background-color: var(--color-white);
    padding: 8px 18px 8px 20px;
    display: none;
    z-index: 10;
    box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.3);
    justify-content: space-between;
}
.menuitem-title {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #303030;
}
#menuitemCategoriasContent{
    gap: 100px;
}

/* BANNER SECTION ----------------------------*/
.section-banner {
    margin: 116px 0 15px;
    width: 100%;
    height: 435px;
    background-color: #E7E7EA;
    display: flex;
    justify-content: center;
}
.sec-banner-content {
    height: 100%;
    width: 100%;
    display: flex;
    margin: 0 10px 0 -100px;
}
.sec-banner-img {
    height: 100%;
}
.sec-banner-content img {
    max-width: 585px;
    height: 100%;
    mix-blend-mode: darken;
}
.sec-banner-text {
    width: 477px;
    height: 185px;
    text-align: center;
    margin-top: -45px;
    margin-left: -70px;
}
.sec-banner-text h1 {
    font-size: 5rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.sec-banner-text h1 > span {
    font-weight: 700;
}
.sec-banner-text h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 0.39rem;
    color: var(--color-primary);
    margin-bottom: 10px;
    padding-left: 10px;
}
.sec-banner-text h2 {
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--color-primary);
}

/* CAROUSEL SECTION ----------------------------*/
.section-carousel {
    padding: 40px 20px 30px;
    font-family: var(--fonte-secondary);
}
.sec-carousel-content {
    width: 100%;
    height: 435px;
    display: flex;
    flex-direction: column;
}
.carousel-content {
    height: 100%;
    width: 100%;
    position: relative;
}
.carousel-tittle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom:0px;
}
.carousel-tittle h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 13px;
}
.carousel-tittle > button {
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.carousel-tittle button:hover {
    text-decoration: underline;
}

/* css-swiper */
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-pagination-bullet {
    background-color: #838383 !important;
}
.swiper-pagination-bullet-active {
    background-color: var(--color-gray-text) !important;
}
.swiper-button-prev::after {
    background-image: url('./img/icon/arrow-circle-prev.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--color-white);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    color: #ffffff00;
    left: -22px;
    bottom: 20px;
    position: absolute !important;
}
.swiper-button-prev:hover::after {
    background-image: url('./img/icon/arrow-circle-prev-hover.png');
    transition: all 0.7s ease-in-out;
}
.swiper-button-prev.swiper-button-disabled::after {
    background-image: url('./img/icon/arrow-circle-prev.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--color-white);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    color: #ffffff00;
    left: -22px;
    bottom: 20px;
    position: absolute !important;
}

.swiper-button-next::after {
    background-image: url('./img/icon/arrow-circle-next.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--color-white);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    color: #ffffff00;
    left: 20px;
    bottom: 20px;
    position: absolute !important;
}
.swiper-button-next:hover::after {
    background-image: url('./img/icon/arrow-circle-next-hover.png');
    transition: all 0.7s ease-in-out;
}
.swiper-button-next.swiper-button-disabled::after {
    background-image: url('./img/icon/arrow-circle-next.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--color-white);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    color: #ffffff00;
    left: 20px;
    bottom: 20px;
    position: absolute !important;
}

/* carousel-block */
.carousel-block {
    width: 205px;
    height: 360px;
    border: solid 1px var(--color-gray2);
    border-radius: 10px;
    padding: 7px;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block-h {
    width: 100%;
}
.highlight {
    position: absolute;
    font-size: .5rem;
    font-weight: 700;
    width: 36px;
    height: 20px;
    padding-top: 1px;
    background-color: #00264E;
    border-radius: 4px;
    color: var(--color-white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.carousel-img img {
    height: 200px;
    will-change: transform;
    transition: transform 0.4s ease;
}
.carousel-img a img:hover {
    transform: scale(.95);
}
.carousel-description {
    color: var(--color-gray-text);
}
.carousel-description h3 {
    font-size: .7rem;
    font-weight: 400;
    text-transform: capitalize;
    margin: 7px 0 5px 0;
}
.real-price {
    display: flex;
    align-items: center;
    font-size: .6rem;
    font-weight: 400;
}
.real-price p {
    text-decoration: line-through;
}
.real-price span {
    font-size: .9rem;
    font-weight: 700;
}
.real-price .discount {
    font-size: .6rem;
    font-weight: 700;
    width: 60px;
    height: 19px;
    background-color: #5EC0BE;
    display: flex;
    color: var(--color-white);
    text-decoration: underline;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-left: 8px;
    margin-bottom: 5px
}
.card-price {
    font-size: .6rem;
    font-weight: 400;
    margin: 4px 0;
}
.card-price > span {
    font-weight: 700;
}
.carousel-block button {
    font-size: .8rem;
    font-weight: 700;
    width: 100%;
    height: 40px;
    margin-top: 9px;
    border: none;
    border-radius: 8px;
    color: var(--color-white);
    background-color: var(--color-primary);
    cursor: pointer;
}
.carousel-block button:hover {
    background-color: #0651d3;
}

/* MAIN SECTION ONE */
.section-main-one {
    padding: 55px;
}
.sec-one-content {
    height: 550px;
    max-width: 980px;
    gap: 30px;
}
.one-banner {
    background-color: var(--color-gray);
    width: 100%;
    height: 100%;
    padding: 30px 30px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.one-banner img {
    width: 100%;
}
.one-text {
    height: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}
.one-text h2 {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4%;
}
.one-text p {
    font-size: .9rem;
    font-weight: 400;
}

/* MAIN SECTION TWO */
.section-main-two {
    padding: 40px;
    background-color: var(--color-gray2);
}
.sec-two-content {
    height: 550px;
    max-width: 980px;
    gap: 50px;
}
.two-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 500px;
    width: 100%;
    max-width: 400px;
}
.two-text-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.two-text-icon img {
    background-color: var(--color-primary);
    padding: 10px;
    border-radius: 50%;
}
.two-text h2 {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4%;
    margin-bottom: 20px;
}
.two-text-icon p {
    font-size: .9rem;
    font-weight: 400;
    letter-spacing: 5%;
}
.two-banner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.two-banner img {
    width: 100%;
    height: 100%;
}

/* CALL TO ACTION BANNER */
.call-to-action {
    width: 100%;
    height: 460px;
    background-image: url(img/banner-action.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(10px);
}
.call-to-action h3 {
    font-size: 1.5rem;
    font-weight: 400;
    background-color: var(--color-primary);
    padding: 45px;
    width: 100%;
    color: var(--color-white);
}

/* NEWSLETTER */
.newsletter {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fonte-secondary);
}
.sec-newsletter-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 170px;
}
.sec-newsletter-content p {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.sec-newsletter-content p span {
    color: var(--color-primary);
}
.newsletter-block {
    background-color: var(--color-gray2);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    align-items: center;
    height: 130px;
}
.input-news {
    padding: 10px;
    font-size: .7rem;
    height: 40px;
    border-radius: 8px;
    flex: 1;
    min-width: 180px;
    max-width: 220px;
    border: 1px solid #dfe1e5;
    outline: none;
    color: var(--color-black);
    transition: all 0.25s ease;
    cursor: text;
}

.input-news:hover {
    box-shadow: 0 0 0 1px var(--color-gray);
}
.input-news:active {
    transform: scale(0.95);
}
.input-news:focus {
    box-shadow: 0 0 0 1px var(--color-gray);
}
.check-news {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: .65rem;
    color: #656565;
}
.check-news a {
    color: #656565;
}
.btn-news {
    padding: 10px 20px;
    height: 40px;
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}
.btn-news:hover {
    background-color: #0651d3;
}

/* FOOTER */
footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: var(--fonte-secondary);
}
.footer-content {
    background-color: #F5F5F5;
    width: 100%;
    padding: 60px;
}
.footer-up {
    display: flex;
    flex-direction: column;
    max-width: 900px;
}
.footer-up-menus {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footer-m-logo {
    margin-right: 70px;
}
.footer-m-logo > img {
    width: 135px;
    margin: 0 0 20px 4px;
    padding-top: 4px;
}
.footer-social img {
    width: 25px;
    margin-right: 20px;
}
.footer-social img:hover {
    opacity: .7;
}
.footer-menu-subs {
    width: 100%;
    max-width: 200px;
    margin-bottom: 20px;
}
.footer-menu-subs h4 {
    font-weight: 700;
    font-size: .8rem;
    margin-bottom: 10px;
}
.footer-sub-itens {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer-menu-subs a {
    text-decoration: none;
}
.footer-sub-itens h5 {
    font-size: .7rem;
    font-weight: 400;
    color: var(--color-black);
}
.footer-menu-subs h5:hover {
    color: var(--color-primary);
}
.footer-sub-itens p span {
    font-size: .7rem;
    font-weight: 700;
}
.footer-sub-itens p {
    font-size: .6rem;
    line-height: 15px;
}
.seta {
    display: none;
    font-size: 14px;
    margin-left: 20px;
}
.fa-chevron-down {
    display: none !important;
}
.footer-up-pay img {
    width: 500px;
    margin-top: 40px;
}

/* footer-down */
.footer-content2 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.footer-down {
    max-width: 870px;
    flex-direction: column;
    gap: 30px;
}
.footer-down-text {
    font-size: .7rem;
    font-weight: 400;
    text-align: center;
    line-height: 17px;
    color: var(--color-gray-text);
}
.footer-down-partners img {
    width: 300px;
}





/* RESPONSIVENESS ----------------------------------*/
/* Tablet */
@media (min-width: 481px) and (max-width: 1080px) {
    .header-input input {
        margin-left: -30px;
    }
    .search-popup {
        left: -30px;
    }
    .menuitem-box {
        width: 102%;
    }
    .sec-banner-text h3 {
        font-size: 1rem;
    }

    .section-carousel {
        padding: 40px 30px 30px;
    }

    .footer-social img {
        margin-right: 6px;
    }
}
@media (max-width: 900px) {
    .mobile-toggle {
        padding-top: 3px;
    }
    .header-logo > a >img {
        margin: 0 30px;
    }
    .header-main {
        padding-bottom: 65px;
    }
    .header-input {
        position: fixed;
        top: 85px;
        left: 50%;
        transform: translateX(-50%);
    }
    nav {
        display: none;
    }

    .sec-banner-text {
        width: 300px;
        height: 130px;
    }
    .sec-banner-text h1 {
        font-size: 3rem;
    }
    .sec-banner-text h3 {
        font-size: .8rem;
        letter-spacing: 0.19rem;
    }
    .one-text {
        max-width: 300px;
    }
    .two-text {
        max-width: 300px;
    }

    .newsletter-block {
        padding: 10px;
    }
}
@media (max-width: 700px) {
    .mobile-toggle {
        width: 38px;
    }
    .user-login {
        display: none;
    }
    .header-input input {
        width: 367px;
        left: -1px;
    }

    .section-banner {
        margin: 130px 0 15px;
        width: 100%;
        height: 350px;
    }
    .sec-banner-text h3 {
        font-size: 1rem;
        letter-spacing: 0.19rem;
        padding-bottom: 0;
    }
    .section-main-one {
        padding: 0;
    }
    .sec-one-content {
        flex-direction: column;
        height: 100%;
        gap: 0;
    }
    .one-banner {
        height: 450px;
    }
    .one-banner img {
        width: 400px;
    }
    .one-text {
        width: 100%;
        max-width: 100%;
        padding: 30px;
    }

    
    .sec-two-content {
        flex-direction: column-reverse;
        height: 100%;
        gap: 0;
    }
    .two-banner img {
        width: 400px;
    }
    .two-text {
        gap: 20px;
        width: 100%;
        max-width: 100%;
        height: 100%;
    }
    .two-text h2 {
        margin: 25px 0 0;
    }

    .call-to-action h3 {
        font-size: 1rem;
        padding: 20px;
    }

    .newsletter {
        width: 100%;
        height: 100%;
    }
    .sec-newsletter-content {
        height: 100%;
        padding: 30px;
    }
    .newsletter-block {
        height: 200px;
        padding: 30px;
        flex-direction: column;
        gap: 10px;
    }
    .input-news {
        width: 100%;
        max-width: 100%;
    }
    .btn-news {
        display: inline-block;
        width: 100%;
        max-width: 250px;
    }

    .footer-content {
        padding: 0;
    }
    .footer-up-menus {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-m-logo {
        margin: 0 0 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-m-logo > img {
        margin: 30px 0;
    }
    .footer-social {
        display: flex;
        gap: 20px;
    }
    .footer-menu-subs {
        max-width: 100%;
        border-top: solid 1px #DDDDDD;
        margin: 0;
    }
    .footer-menu-subs:last-child {
        border-bottom: solid 1px #DDDDDD;
    }
    .footer-menu-subs h4 {
        margin: 0;
        padding: 12px 20px;
        display: flex;
        justify-content: space-between;
    }
    .footer-menu-subs h4 i {
        font-size: 12px;
    }

    .seta {
        display: inline-block;
    }
    .fa-chevron-down {
        display: inline-block !important;
    }
    .footer-sub-itens {
        display: none;
        margin: 0 20px 20px;
    }
    .footer-menu-subs.ativo .footer-sub-itens {
        display: flex;
    }
}





/* Mobile */
@media (max-width: 468px) {
    .seta {
        display: inline-block;
    }
    .fa-chevron-down {
        display: inline-block !important;
    }

    .footer-sub-itens {
        display: none;
    }

    .footer-menu-subs.ativo .footer-sub-itens {
        display: flex;
    }
}
