.container {
    display: grid;
    gap: 10px 20px;
    grid-template-columns: 2fr 1fr 3fr 1fr;
    grid-template-rows: 200px 100px;
}

.item {
    background-color: brown;
    border-radius: 10px;
    padding: 20px;
    color: azure;
    font-size: 20px;
}