@charset "UTF-8";
@font-face {
    font-family: 'droid';
    src: url(fontes/idroid.otf) format(opentype);
}

body {
    background-color: #5F618A;
    font-family: Arial, Helvetica, sans-serif;
}

h1#titulo {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}

p#sub {
    text-align: center;
}

header {
    background-image: linear-gradient(to bottom, #464EF0, #242533 );
    text-align: center;
    color: white;
    padding: 10px 10px 0px 10px;
}

nav {
    padding: 5px;
}

nav > a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

nav > a:hover {
    background-color: #464ff057;
    padding: 5px;
}

main {
    background-color: white;
    padding: 10px 10px 10px 10px;
}

h1 {
    font-family: 'droid', Arial, Helvetica, sans-serif;
    color: #464EF0;
}

h3 {
    font-family: 'droid', Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #464ff075, white);
    color: #464EF0;
    padding: 5px;
}

p {
    font-weight: lighter;
    text-align: justify;
    text-indent: 30px;
}

div {
    text-align: center;
}

article {
    background-color: #5F618A;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.434);
}

h4 {
    background-color:#2b2d56;
    color: white;
    padding: 13px;
    margin: -10px;
    border-radius: 10px 10px 0px 0px;
}

footer {
    text-decoration: none;
    background-color: #2b2d56;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0px;
}

footer > p {
    text-align: center;
    font-size: small;
    margin: 3px;
}

.alink {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.alink::after {
    content: ' ☍';
}

