@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --color-primary: #FE6A0F;
    --color-secondary: #95400c;
    --color-white: #EDECEC;
    --color-black: #141414;
    --color-dark: #1f1f1f;
    --color-gray: #848484;
    --color-gray2: #2b2b2b;

    --fonte-main: "Calistoga", serif;
    --fonte-secondary: "Inter", sans-serif;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-secondary);
    font-size: 18px;
    background-color: var(--color-black);
    color: var(--color-white);
}

/* UTILITIES */
.container {
    width: 100%;
    margin: auto;
    max-width: 1200px;
    padding: 0 20px;
}
.logo a {
    font-family: var(--fonte-main);
    font-size: 36px;
    font-weight: 400;
    color: var(--color-white);
    text-decoration: none;
}
.logo a span {
    color: var(--color-primary);
}

/* HEADER */
header .container {
    display: flex;
    align-items: center;
    padding: 35px 20px;
    gap: 50px;
}
header nav {
    flex: 1;
    display: flex;
    align-items: center;
}
.header-leftside {
    display: flex;
    flex: 1;
}
.header-leftside li {
    margin: 0 30px;
}
.header-leftside li a {
    color: var(--color-white);
    text-decoration: none;
}
.header-leftside li a:hover {
    color: var(--color-gray);
}
nav .button {
    display: block;
    border: 1px solid var(--color-white);
    border-radius: 5px;
    padding: 15px 30px;
    color: var(--color-white);
    text-decoration: none;
}
nav .button:hover {
    color: var(--color-gray);
    border-color: var(--color-gray);
}
.menu {
    display: none;
    flex: 1;
    justify-content: flex-end;
}
.menu-icon {
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.menu-icon div {
    height: 6px;
    background-color: var(--color-white);
}

/* SECTION.HERO */
.hero .container {
    display: flex;
}
.hero-leftside,
.hero-rightside {
    flex: 1;
}
.hero-leftside {
    padding-bottom: 150px;
}
.hero-rightside {
    text-align: center;
}
.hero-rightside img {
    width: auto;
    height: 600px;
}
.hero h1 {
    font-family: var(--fonte-main);
    font-size: 70px;
    font-weight: 400;
    line-height: 74px;
    margin-top: 50px;
}
.hero p {
    font-size: 20px;
    line-height: 26px;
    margin: 20px 0 60px;
    padding-right: 30px;
}
.hero .button {
    display: inline-block;
    background-color: var(--color-primary);
    font-weight: 500;
    color: var(--color-white);
    padding: 15px 80px;
    border-radius: 5px;
    text-decoration: none;
}
.hero .button:hover {
    opacity: 0.8;
}

/* SECTION.SEARCH */
.search {
    background-color: var(--color-dark);
    padding: 70px 0;
    margin-top: -100px;
}
.search-title {
    font-size: 32px;
    font-weight: 500;
}
.search-sides {
    display: flex;
    margin-top: 30px;
    gap: 100px;
}
.search-leftside,
.search-rightside {
    flex: 1;
}
.search input,
.search select {
    width: 100%;
    background-color: var(--color-gray2);
    color: var(--color-white);
    font-size: 24px;
    outline: none;
    padding: 20px;
    border: 0;
    border-radius: 5px;
}
.search input {
    background-image: url(../img/searchIcon.png);
    background-repeat: no-repeat;
    background-position: 20px center;
    padding-left: 60px;
}
.search select {
    border-right: 20px solid transparent;
}

/* SECTION.PRODUCTS */
.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 50px 0;
}
.product-item {
    display: block;
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
    position: relative;
}
.product-item:hover {
    opacity: 0.8;
}
.product-item .warning {
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: var(--color-primary);
    font-size: 16px;
    font-weight: 500;
    color: var(--color-white);
    padding: 10px 15px;
    border-radius: 4px;
}
.photo {
    text-align: center;
    background-color: var(--color-gray2);
    padding-top: 30px;
}
.photo img {
    max-width: 100%;
}
.product-item .info {
    background-color: var(--color-dark);
    padding: 60px 30px 30px;
    margin-top: -50px;
}
.product-category {
    color: var(--color-white);
    font-size: 18px;
    font-weight: 500px;
}
.product-name {
    font-family: var(--fonte-main);
    font-size: 32px;
    color: var(--color-white);
    margin: 8px 0 5px;
}
.product-price {
    font-size: 32px;
    font-weight: bold;
    color: var(--color-primary);
}


/* TABLET */
@media (max-width: 890px) {

    /* HEADER */
    header nav {
        display: none;
    }
    .menu {
        display: flex;
    }

    /* SECTION.HERO */
    .hero .container {
        flex-direction: column;
    }
    .hero-leftside {
        text-align: center;
        padding-bottom: 40px;
    }
    .hero h1 {
        font-size: 60px;
        line-height: 60px;
    }
    .hero p {
        margin: 0;
        padding: 30px;
    }
    .hero-rightside {
        padding-bottom: 50px;
    }

    /* SECTION.SEARCH */
    .search {
        padding-bottom: 30px;
    }
    .search-title {
        text-align: center;
    }
    .search-sides {
        flex-direction: column;
        gap: 20px;
    }

    /* SECTION.PRODUCTS */
    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* MOBILE */
@media (max-width: 550px) {

    /* SECTION.HERO */
    .hero h1 {
        font-size: 45px;
        line-height: 50px;
    }
    .hero p {
        padding: 30px 0;
    }
    .hero-rightside img {
        height: 400px;
    }

    /* SECTION.PRODUCTS */
    .products-grid {
        grid-template-columns: 1fr;
    }
}