.container {
    background-color: rgb(206, 208, 208);
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
    grid-template-areas: 
        "header header header header"
        "menu content content content"
        "add content content content"
        "footer footer footer footer"
    ;
}
.item {
    background-color: brown;
    border-radius: 10px;
    padding: 20px;
    color: azure;
    font-size: 20px;
}

header {
    grid-area: header;
}
nav {
    grid-area: menu;
}
section {
    grid-area: content;
}
footer {
    grid-area: footer;
}
.add {
    grid-area: add;
}

@media (max-width: 750px) {
    .container {
        grid-template-areas: 
            "header header header menu"
            "content content content content"
            "footer footer footer add"
        ;
    }
}